/* by 검증 디자이너 */

a:link, a:visited, a:hover, a:active  { font-size:9pt; font-family:"돋움";color:#000000; text-decoration:none; }

body { margin-left:23px; margin-right:0px; margin-top:17px; margin-bottom:0px;}
td {font-family: "돋움"; font-size: 9pt; color:#595959; font-weight:normal;}
th {font-family: "돋움"; font-size: 9pt; color:#000000; font-weight:normal;}

h1 {font-size:12px;}
caption {visibility:hidden; font-size:0; height:0; margin:0; padding:0; line-height:0;}
 
img {
border : 0;
}
table {
margin : 0;
padding : 0;
}
.t_strong {
font-weight : bold;
}

.noScriptTitle {
font-size : 17px;
color : blue;
text-align : center;
font-family : "돋움";
font-weight : bold;
padding-bottom : 12px;
}

.TopMenuBg {
background-image : url('/images/egovframework/com/cmm/uss/umt/menu_bg.jpg');
background-repeat : no-repeat;
}
.LeftMenuTitle {
font-size : 14px;
color : #fff;
text-align : center;
font-family : "돋움";
font-weight : bold;
padding-top : 20px;
padding-bottom : 3px;
}
.LeftMenuWelcome {
font-size : 12px;
color : #e6e6e6;
text-align : center;
font-family : "돋움";
padding-top : 6px;
}
.LeftMenuBg {
font-size : 12px;
color : #7f9db9;
text-align : left;
font-family : "돋움";
font-weight : bold;
padding-top : 3px;
padding-left : 50px;
background-image : url('/images/egovframework/com/cmm/uss/umt/left_menu_bg.gif');
}
.LeftMenuBtn {
text-align : center;
padding-top : 5px;
padding-bottom : 5px;
}
.LeftMenuBgList {
font-size : 12px;
color : #fff;
text-align : left;
font-family : "돋움";
padding-top : 3px;
padding-left : 60px;
background-image : url('/images/egovframework/com/cmm/uss/umt/left_bg.gif');
}
.QuickLink {
font-size : 11px;
color : #7794be;
text-align : right;
font-family : "돋움";
padding-top : 3px;
}
.PageTitle {
color : #000000;
text-align : left;
font-family : "돋움";
font-weight : bold;
padding-left : 45px;
background-image : url('/images/egovframework/com/cmm/uss/umt/page_title.gif');
}
.PageNumber {
text-align : center;
font-family : "돋움";
}
.checkbox {
background-color : #fff;
}
.BottomStyle {
font-size : 11px;
color : #999999;
font-family : dotum;
}
.LoginIdText {
margin-top : 80px;
margin-left : 400px;
font-size : 12px;
font-family : dotum;
width : 190px;
}
.LoginPassText {
margin-left : 400px;
font-size : 12px;
font-family : dotum;
width : 180px;
}
.LoginJoinBtn {
margin-top : 5px;
margin-left : 400px;
font-size : 12px;
font-family : dotum;
width : 180px;
}
.TopMenuBg {
font-size : 12px;
color : #888888;
font-family : "돋움";
}
.TopMenuBg a:link {
font-size : 12px;
color : #888888;
font-family : "돋움";
}
.TopMenuBg a:visited {
font-size : 12px;
color : #888888;
font-family : "돋움";
}
.TopMenuBg a:hover {
font-size : 12px;
color : #4791a5;
font-family : "돋움";
font-weight : bold;
}
.TopMenuBg a:active {
font-size : 12px;
color : #86cd00;
font-family : "돋움";
font-weight : bold;
}
.LeftMenuBgList {
font-size : 12px;
color : #fff;
font-family : "돋움";
}
.LeftMenuBgList a:link {
font-size : 12px;
color : #fff;
font-family : "돋움";
}
.LeftMenuBgList a:visited {
font-size : 12px;
color : #fff;
font-family : "돋움";
}
.LeftMenuBgList a:hover {
font-size : 12px;
color : #fff;
font-family : "돋움";
font-weight : bold;
}
.LeftMenuBgList a:active {
font-size : 12px;
color : #fff;
font-family : "돋움";
font-weight : bold;
}
.LeftMenuBg {
font-size : 12px;
color : #8594a8;
font-family : "돋움";
}
.LeftMenuBg a:link {
font-size : 12px;
color : #8594a8;
font-family : "돋움";
}
.LeftMenuBg a:visited {
font-size : 12px;
color : #8594a8;
font-family : "돋움";
}
.LeftMenuBg a:hover {
font-size : 12px;
color : #445b7b;
font-family : "돋움";
font-weight : bold;
}
.LeftMenuBg a:active {
font-size : 12px;
color : #445b7b;
font-family : "돋움";
font-weight : bold;
}
.QuickLink {
font-size : 11px;
color : #7794be;
font-family : "돋움";
}
.QuickLink a:link {
font-size : 11px;
color : #7794be;
font-family : "돋움";
}
.QuickLink a:visited {
font-size : 11px;
color : #5877a4;
font-family : "돋움";
}
.QuickLink a:hover {
font-size : 11px;
color : #5877a4;
font-family : "돋움";
font-weight : bold;
}
.QuickLink a:active {
font-size : 11px;
color : #5877a4;
font-family : "돋움";
font-weight : bold;
}
.table_listA {
margin-top : 20px;
margin-left : 8px;
padding : 0 3px 0 3px;
height : 30px;
font : 11px Dotum;
color : #626262;
}
.table_listA th {
margin-top : 10px;
height : 40px;
font : 11px Dotum;
font-weight : bold;
color : #4f657d;
background : url('/images/egovframework/com/cmm/uss/umt/bg_list_th.gif');
}
.table_listA tbody {
height : 35px;
font : 11px Dotum;
color : #828282;
}
.table_listA a:link {
font-size : 11px;
color : #828282;
font-family : "돋움";
text-decoration : none;
}
.table_listA a:visited {
font-size : 11px;
color : #828282;
font-family : "돋움";
text-decoration : none;
}
.table_listA a:hover {
font-size : 11px;
color : #a7a7a7;
font-family : "돋움";
text-decoration : none;
}
.table_listA a:active {
font-size : 11px;
color : #828282;
font-family : "돋움";
text-decoration : none;
}
th {
font-family : "돋움";
font-size : 9pt;
color : #000000;
font-weight : normal;
}
textarea, input, select {
padding-left : 2px;
color : #555555;
border : 1px solid #9bbed2;
font-family : "돋움";
font-size : 9pt;
color : #595959;
}
.lt_text {
font-size : 9pt;
color : #000000;
font-family : "돋움, Arial";
height : 24px;
text-align : left;
vertical-align : middle;
padding-left : 10px;
padding-right : 10px;
}
.lt_text2 {
font-size : 9pt;
color : #444444;
font-family : "돋움, Arial";
height : 30px;
text-align : left;
vertical-align : middle;
padding-left : 10px;
padding-right : 10px;
font-weight : bold;
}
.lt_text3 {
font-size : 9pt;
color : #000000;
font-family : "돋움, Arial";
height : 24px;
text-align : center;
vertical-align : middle;
}
.lt_text4 {
font-size : 9pt;
color : #000000;
font-family : "돋움, Arial";
text-align : center;
vertical-align : middle;
}
.lt_text5 {
font-size : 9pt;
color : #000000;
font-family : "돋움, Arial";
height : 24px;
text-align : left;
vertical-align : top;
padding-left : 10px;
padding-right : 10px;
padding-top : 10px;
padding-bottom : 10px;
}
.button {
border-style : none;
background-color : transparent;
font-size : 12px;
}
textarea {
color : #000000;
border-color : #9cbed3;
border-style : solid;
}
input.cb {
background-color : transparent;
}
.input-r {
border : 1px solid #9bbed2;
text-align : right;
}
multilinegrid {
width : 780px;
border-color : #9f9f9f !important ;
border-style : solid !important ;
}
select {
color : #000000;
border-color : #9cbed3;
border-style : solid;
}
select1 {
color : #000000;
border-color : #9cbed3;
border-style : solid;
}
.select12 {
color : #000000;
border-color : #9cbed3;
border-style : solid;
}
select1[appearance="full"] {
color : #000000;
border-color : #9cbed3;
border-style : solid;
}
select[appearance="full"] {
color : #000000;
border-color : #9cbed3;
border-style : solid;
}
.check2 {
color : #000000;
border-color : #9cbed3;
background-color : transparent !important ;
border-style : none !important ;
}
.radio2 {
color : #000000;
border-color : #9cbed3;
background-color : #eaeaea !important ;
border-style : none !important ;
}
.group_pagenav {
vertical-align : middle;
background-color : transparent !important ;
border-style : none;
}
.page_prevend {
width : 13px;
height : 13px;
top : 3px;
background-color : transparent;
background-image : url(/images/egovframework/com/cmm/uss/umt/icon/icon_prevend.gif);
border-style : none;
}
.page_prev {
width : 13px;
height : 13px;
top : 3px;
background-color : transparent;
background-image : url(/images/egovframework/com/cmm/uss/umt/icon/icon_prev.gif);
border-style : none;
}
.page_nextend {
width : 13px;
height : 13px;
top : 3px;
background-color : transparent;
background-image : url(/images/egovframework/com/cmm/uss/umt/icon/icon_nextend.gif);
border-style : none;
}
.page_next {
width : 13px;
height : 13px;
top : 3px;
background-color : transparent;
background-image : url(/images/egovframework/com/cmm/uss/umt/icon/icon_next.gif);
border-style : none;
}
.page_no {
width : 30px;
height : 13px !important ;
top : 3px;
text-align : center;
background-color : transparent;
border-style : none;
}
.page_sep {
width : 13px;
height : 13px !important ;
top : 3px;
text-align : center;
background-color : transparent;
border-style : none;
}
.group_pagenav > caption {
vertical-align : top !important ;
background-color : transparent !important ;
border-style : none !important ;
padding-left : 2px !important ;
padding-top : 1px !important ;
text-align : left !important ;
}
.location {
font-family : "돋움";
font-size : 8pt;
color : #6d6d6d;
padding-top : 1px;
padding-left : 3px;
vertical-align : middle;
}
.title {
font-family : "돋움";
font-size : 9pt;
color : #000000;
font-weight : bold;
vertical-align : middle;
}
.title_left {
font-family : "돋움";
font-size : 9pt;
color : #000000;
font-weight : bold;
vertical-align : middle;
text-align : left;
}
.title_wh {
font-family : "돋움";
font-size : 9pt;
color : #ffffff;
font-weight : bold;
vertical-align : middle;
}
.title_wh_b {
font-family : "돋움";
font-size : 9pt;
color : #ffffff;
font-weight : bold;
vertical-align : middle;
}
.required_text {
font-family : "돋움";
font-size : 9pt;
color : #2e4b90;
font-weight : bold;
text-align : right;
vertical-align : middle;
}
.text1 {
color : #ff8903;
}
.text2 {
color : #a2a2a2;
}
.table-line {
border-top : 2px solid #1a90d8;
border-bottom : 1px solid #bababa;
border-collapse : collapse;
}
.table-line th {
border-bottom : 1px solid #a3a3a3;
background-color : #e4eaf8;
height : 20px;
}
.table-line td {
border-bottom : 1px solid #e0e0e0;
background-color : #f7f7f7;
height : 20px;
}
.table-list {
border-top : 2px solid #1a90d8;
border-bottom : 1px solid #bababa;
border-collapse : collapse;
table-layout : fixed;
}
.table-list th {
border-bottom : 1px solid #a3a3a3;
background-color : #e4eaf8;
height : 20px;
}
.table-list td {
border-bottom : 1px solid #e0e0e0;
background-color : #f7f7f7;
height : 20px;
overflow : hidden;
}
.table-register {
border-top : 1px solid #d2d4d1;
border-bottom : 1px solid #d2d4d1;
border-left : 1px solid #d2d4d1;
border-right : 1px solid #d2d4d1;
border-collapse : collapse;
}
.table-register th {
background-color : #e4eaf8;
text-align : right;
}
.table-register td {
background-color : #f7f7f7;
}
.readOnlyClass {
background-color : #eef1f7;
}
.table-trans {
border-left : 0 solid;
border-right : 0 solid;
border-bottom : 0 solid;
border-top : 0 solid;
border-collapse : collapse;
}
.table-trans td {
border : 0 solid;
padding-top : 0;
padding-bottom : 0;
padding-left : 0;
padding-right : 0;
border : 0 solid;
border-collapse : collapse;
}
.divDotText {
overflow : hidden;
}
.error {
color : #ff0000;
}
.txaClass {
width : 100%;
}
.txaIpt {
width : 100%;
}
.txaIpt60 {
width : 60px;
}
.btnBackground {
background-image : url(/images/egovframework/com/cmm/uss/umt/button/bu2_bg.gif);
}
