/*
  Css Name : main.css
  Description : 메인 CSS
  Modification Information

      수정일        수정자          수정내용
     ----------    --------    ---------------------------
     2011.09.26    	구지연          최초 생성

    author   : 공통컴포넌트 개발팀 구지연
    since    : 2011.09.26
*/
@CHARSET "UTF-8";

/* reset */
frameset, frame, p, div  { margin:0; padding:0; border:0; }

/* 2011.09.26 헤더와 푸터추가 */
#wrap, body, header, footer, h1 { margin:0; padding:0; }
#header { background: url('../../../images/egovframework/com/cmm/main/bg_header.jpg') repeat-x; width:100%; height:52px; text-align:center; }
#header h1 { text-algin:center; padding:6px 0 0 0}

#footer { background: url('../../../images/egovframework/com/cmm/main/bg_footer.jpg') repeat-x; width:100%; height:43px; text-align:center;}
#footer p { font-size:16px; font-family:Tahoma, Arial; color:#fff; text-align:center; padding:10px 0 0 0;}